@import "../../styles/constants.scss";

.button {
  align-items: center;
  background-color: $primary;
  border-radius: $size-xxl;
  border: 1px solid $white;
  color: $white;
  display: flex;
  font-weight: 500;
  font-weight: 500;
  gap: $size-md;
  padding: $size-md $size-lg;
  text-decoration: none;
  transition: all $transition-fast linear;
  width: fit-content;

  &.primaryInverted {
    border-color: $primary;
    background-color: transparent;
    color: $primary;

    &:hover {
      background-color: $background-gray;
    }
  }

  &.transparent {
    background-color: transparent;
    color: $primary;

    &:hover {
      background-color: transparent;
      color: $primary;
    }
  }

  &:hover {
    background-color: $primary-dark;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: $gray-lighter;
  }
}