//Geist THIN
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-Thin.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

//Geist MEDIUM
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-Light.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

//Geist Regular
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

//Geist MEDIUM
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

//Geist BOLD
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-SemiBold.otf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

//Geist BOLD
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

//Geist BLACK
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-ExtraBold.otf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

//Geist BLACK
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-Black.otf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}





//Montserrat THIN
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

//Montserrat THIN
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

//Montserrat MEDIUM
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

//Montserrat Regular
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

//Montserrat MEDIUM
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

//Montserrat BOLD
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

//Montserrat BOLD
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

//Montserrat BLACK
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

//Montserrat BLACK
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}