@import './constants.scss';
@import './fonts.scss';

* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  font-family: 'Geist';
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  background: $cream-white;
  min-height: 110vh;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  margin-bottom: $size-xxxl;
}

* {
  font-family: 'Geist';
}

h1 {
  color: $black;
  font-size: $font-lg;
  font-weight: 500;
}

.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}